#design-by {
    position: relative;
    top: -100px;
    width: 100%;
}

#design-by .design-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

#design-by .design-container .bg-container{
    position: relative;
    width: 100%;
}

#design-by .design-container:after {
    content: "";
    display: table;
    clear: both;
}

#design-by .design-container .bg-container .bg-image {
    position: absolute;
    opacity: .1;
    width: 100%;
    height: auto;
    top: 0px;
    z-index: -1;
}

#design-by .design-container .info-section {
    width: 45%;
    background: #6066F2;
    display: inline-block;
    float: left;
    padding: 45px;
    position: relative;
    z-index: 2;
}

#design-by .design-container .info-section h5{
    color: #FEA83B;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0px;
}

#design-by .design-container .info-section h3{
    color: #FFF;
    font-size: 2rem;
}

#design-by .design-container .info-list {
    padding: 0;
    margin: 0;
    margin-bottom: 5rem;
}

#design-by .design-container .info-list li {
    list-style: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px
}

#design-by .design-container .info-list li .fas {
    color: #333;
    padding: 0 10px 15px 0;
    font-size: 20px;
}

#design-by .design-container .info-section a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

#design-by .design-container .info-section .white-btn {
    background: #fff;
    border-radius: 50px;
    padding: 20px 60px;
    color: #6066F2;
    display: inline-block;
}

#design-by .design-container .icons-section {
    background: #fff;
    width: 55%;
    height: 100%;
    display: inline-block;
    position: relative;
}


#design-by .design-container .icons-section .refresh-circle {
    position: absolute;
    background: #fff;
    left: 43%;
    top: 40%;
    height: 80px;
    height: 80px;
    background: #FFF;
    padding: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
}

#design-by .design-container .icons-section .refresh-circle .fas {
    position: inherit;
    top: 30%;
    left: 30%;
    font-size: 2.5rem;
    color: #FEA83B;
}
#design-by .design-container .icons-section .icon-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#design-by .design-container .icons-section .icon-box .title {
    text-align: center;
    color: #6066F2;
    border: 1px solid #F4F5F7;
    grid-gap: 5px;
    padding: 44px 116px 44px 116px;
}

#design-by .design-container .icons-section .icon-box .title h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

#design-by .design-container .icons-section .icon-box .title .fas,
#design-by .design-container .icons-section .icon-box .title .fab {
    font-size: 3rem;
    color:#6066F2;
}