#top-jumbo {
    height: 1200px;
    background: linear-gradient(to bottom, #fff 10%, #6150b4,#292131);
}

#top-jumbo .left-side {
    width: 37%;
}

#top-jumbo .left-side .large-number{
    font-size: 14.125rem;
    font-weight: 700;
    opacity: .3;
    /* color: #FEA83B; */
}

#top-jumbo .left-side .info-container h1{
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: capitalize;
    position: relative;
    top: -12px;
}

#top-jumbo .left-side .info-container p{
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 500;
    color: #aaacaf;
    margin-bottom: 40px;
}

#top-jumbo .left-side .info-container .email-area{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
}

#top-jumbo .left-side .info-container .email-area .fas {
    font-size: 1.75rem;
    position: relative;
    top: 5px;
    margin-left: 5px;
    opacity: .7;
    color: #fff;
}

#top-jumbo .left-side .info-container .email-area input[type="email"] {
    background: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    width: 200px;
    outline: none;
    opacity: .7;
    font-size: 1rem;
}

#top-jumbo .left-side .info-container .email-area button{
    background: #4C44C1;
    padding: 20px 50px;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 50px;
}


#top-jumbo .right-side {
    width: 63%;
}

#top-jumbo .right-side img {
    margin-left: 20px;
    width: 51.35rem;
    height: auto;
    box-shadow: 0 8px 6px -6px #333;
}